first_project/blog/client/node_modules/
first_project/blog/comments/node_modules/
first_project/blog/posts/node_modules/
first_project/blog/query/node_modules/
first_project/blog/event-bus/node_modules/
first_project/blog/moderation/node_modules/
/learning_docker/simpleweb/node_modules/
first_project/learning_docker/simpleweb/node_modules/